.Btn {
  align-items: center;
  -webkit-appearance: none;
  background-color: var(--bgs);
  border: 1px solid var(--border);
  border-radius: 2px;
  box-shadow: var(--shadow) 0px 1px 2px;
  box-sizing: border-box;
  display: inline-flex;
  font-family: var(--primary-family);
  font-weight: 500;
  height: 2.5rem;
  justify-content: center;
  line-height: inherit;
  margin: 0 .5rem 1rem 0;
  min-width: 5rem;
  outline: none;
  overflow: hidden;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  user-select: none;
  vertical-align: middle;
}

.Btn.primary {
  background-color: var(--primary-dim);
  border-color: var(--primary);
  color: var(--primary);
}

.Btn.secondary {
  background-color: var(--secondary-dim);
  border-color: var(--secondary);
  color: var(--secondary);
}

.Btn.xsm,
.Btn.sm {
  height: 1.5rem;
}

.Btn.xsm {
  min-width: 2rem;
}

.Btn.sm {
  min-width: 3rem;
}

.Btn.lg {
  height: 3rem;
  min-width: 8rem;
}

.Btn.xlg {
  height: 3.5rem;
  min-width: 10rem;
}

.Btn:disabled {
  cursor: not-allowed;
  opacity: .6;
  pointer-events: none;
}

.Btn:hover:enabled,
.Btn:active:enabled {
  cursor: pointer;
  filter: brightness(.99);
}